.skills-2 {
  height: 1060px;
  background: white url('../img/bg-2.png') no-repeat center 300px;
  text-align: center;

  h2 {
    position: relative;
    padding-top: 59px;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 1.2px;
    margin-bottom: 6px;

    &::after {
      position: absolute;
      top: 111px;
      right: 445px;
      content: '';
      width: 40px;
      height: 150px;
      background: url('../img/arrow-2.svg') no-repeat;
    }
  }
}

.skills-2__subheader {
  font-size: 18px;
  margin-bottom: 42px;
  color: #5e5e7b;
}

.skills-2__container {
  margin: 0 auto;
  width: 511px;

  p {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    margin-bottom: 27px;
  }

  a {
    float: right;
    line-height: 24px;
    font-size: 14px;
    color: #6f6eff;
    padding-left: 34px;
    background: url('../img/icon-sprint.svg') no-repeat;
    margin-right: 27px;
  }
}
