html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  width: 1440px;
  color: #14141c;
  font-family: Helvetica, Arial, sans-serif;
  background: #e5e5e5;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

h1,
h2,
h3,
p {
  margin: 0;
}

@import 'header';
@import 'skills-1';
@import 'skills-2';
@import 'skills-3';
@import 'skills-4';
@import 'skills-5';
@import 'skills-6';
@import 'skills-7';
@import 'skills-8';
@import 'footer';
@import 'top-btn';
